:root{
    --dark: #0B232E;
    --midle: #20474C;
    --light: #9FBBA5;
    --primary:  #1AC1FC;
}

body{
    margin: 0;
    margin-top: 10px;
    height: 100vh;
    background-image: radial-gradient(circle at top left,#9FBBA5,#20474C 50%, #0B232E);
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    font-family: Lato;
    color: white;
}
.container{
    height: 90vh;
    width: 100vw;
}
.game{
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 8rem auto;
}
    
}
.row{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 100%;
}
.col{
    
    display: inline-block;
    width: 150px;
    height: 108px;
    text-align: center;
    vertical-align: middle;

    /* background-color: #d8c99b; */
    color: #273e47;
    font-size: 20px;
    cursor: pointer;
    margin-top: 9px;
    margin: 2px;
    font-family: Fredoka One;
    font-size: 3em;
    font-weight: 400;
    padding-top: 42px;
    background-color: var(--midle);
    
    mix-blend-mode:multiply;
    
    
}
.col:hover{

    background-color:var(--dark);
}
.clicked{
    /* background-color: #122025; */
    color: var(--primary);
    background: repeating-linear-gradient(
    45deg,
    rgb(25, 60, 65),
    rgb(25, 60, 65) 10px,
    var(--midle) 10px,
    var(--midle) 30px
);
}
.computer{
    -webkit-mix-blend-mode: screen;
       -moz-mix-blend-mode: screen;
       -o-mix-blend-mode: screen;
       -ms-mix-blend-mode: screen;
    color: var(--primary);
    mix-blend-mode: screen;
    background: repeating-linear-gradient(
    135deg,
    rgb(25, 60, 65),
    rgb(25, 60, 65) 10px,
    var(--midle) 10px,
    var(--midle) 30px
);
}
.btn{
    margin-top: 8rem;
    padding: 10px 20px;
    font-size: 1em;
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
}
.btn:hover{
    color:var(--dark);
    background-color: var(--primary)};
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    color: white;
    text-align: center;
}
.endgame
{
  transition: 1s;
	display: none;
	width: 200px;
	top: 120px;
	background-color: rgba(205,133,63,0.8);
	position: absolute;
	left: 50%;
	margin-left: -100px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-size: 2em;
}
.circle{
    background-color: #a4243b;
    border-radius: 500px;
}